---
import inferlabLockup from '../assets/inferlab-lockup.svg?raw';

interface Props {
  href: string;
  compact?: boolean;
}

const { href, compact = false } = Astro.props;
---

<a class:list={['inferlab-brand', { compact }]} href={href} aria-label="InferLab home">
  <span class="lockup" aria-hidden="true" set:html={inferlabLockup}></span>
</a>

<style>
  .inferlab-brand {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  .lockup {
    display: block;
    width: calc(2.25rem * 322 / 96);
    height: 2.25rem;
    line-height: 0;
  }

  .lockup :global(svg) {
    display: block;
    width: 100%;
    height: 100%;
  }

  .compact .lockup {
    width: calc(2rem * 322 / 96);
    height: 2rem;
  }

  @media (max-width: 640px) {
    .lockup {
      width: calc(2rem * 322 / 96);
      height: 2rem;
    }
  }
</style>
